[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
jwcrypto = "*"
django-environ = "*"
structlog = "==21.5.0"
requests = "==2.28.1"
pycryptodome = "==3.15.0"

[dev-packages]
flake8 = "~=3.8"
pre-commit = "~=1.20.0"
pylint-django = "~=2.0"
flake8-isort = "~=3.0"
flake8-commas = "~=2.0"
mypy = "==0.961"

[requires]
python_version = "3.8"
